[rtpengine]
table = 0
interface = {{host_local_ip}}!{{host_pub_ip}}
listen-ng = {{ng_listen_host}}:{{ng_listen_port}}
timeout = 60
silent-timeout = 3600
tos = 184
port-min = {{rtp_port_start}}
port-max = {{rtp_port_end}}
log-level = 6
log-stderr = false
log-facility = local0
